# Jupyter e Python
.ipynb_checkpoints
__pycache__/
*.py[cod]

# NLP e Modelos (Arquivos grandes que o Git não suporta bem)
*.pt
*.bin
*.safetensors
*.model
*.vector
vocab.txt
config.json

# Datasets grandes (mais de 50MB)
# Comente ou remova as linhas abaixo se seus arquivos forem pequenos
# *.docx
# *.csv
# *.xlsx

echo "notebooks/results/" >> .gitignore